body{ 
    min-height:100vh; 
    margin:0; 
    position:relative; 
}
header{ 
    min-height:50px; 
}

/* To fixed the footer on the bottom of the screen, even if the content of the page is short*/
body::after {
  content: '';
  display: block;
  height: 50px; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  /*background-color: aqua;*/
}

.product_card_name{
  height : 50px;
  overflow: hidden;
}

.product_card_description{
  height : 70px;
  overflow: hidden;
}

.item {
  position:relative;
  padding-top:20px;
  display:inline-block;
}
.notify-badge{
  position: absolute;
  right:-10px;
  top:5px;
  text-align: center;
  padding:5px 10px;
  font-size:16px;
}