{% extends "index.html" %}
{% from "macros.html" import form_action_method %}

{% block title %}
    account
{% endblock %}

{% block main %}

    <h4>Edit account</h4>

    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% if user_type == "customer" %}

        {{ form_action_method(url_for('customer_account'), "POST") }}
        {{ form.csrf_token }}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>First name</label>
                        <p class="form-control">{{ data["first_name"] }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Last name</label>
                        <p class="form-control">{{ data["last_name"] }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Age</label>
                        <p class="form-control">{{ data["age"] }}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class_="form-control") }}

                        {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class_="form-control") }}

                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class_="form-control") }}

                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
            </div>
            {{ form.update(class_="btn btn-primary") }}
        </form>
    
    {% else %}
        
        {{ form_action_method(url_for('business_account'), "POST") }}
        {{ form.csrf_token }}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class_="form-control") }}

                        {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tax number</label>
                        <p class="form-control">{{ data["fiscal_number"] }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form.description.label }}
                        {{ form.description(class_="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.phone.label }}
                        {{ form.phone(class_="form-control") }}

                        {% if form.phone.errors %}
                        {% for error in form.phone.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.mobile.label }}
                        {{ form.mobile(class_="form-control") }}

                        {% if form.mobile.errors %}
                        {% for error in form.mobile.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class_="form-control") }}

                        {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class_="form-control") }}

                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class_="form-control") }}

                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <small class="form-text text-muted">
                            {{ error }}
                            </small>
                        {% endfor %}
                        {% endif%}
                    </div>
                </div>
            </div>
            {{ form.update(class_="btn btn-primary") }}
        </form>

    {% endif %}

{% endblock %}