{% extends "layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block main %}    
    {% if products %}
        <h2>your basket:</h2>
        <div class="row">
            {% for product in products %}
                {% for item in product %}
                <div class="col-md-4 py-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename= product.main_img) }}"  alt="product picture" class="card-img-top"/>
                        <div class="card-body">
                            <span class="badge badge-warning">{{ item["price"] }}€</span>
                            <h5 class="card-title">{{ item["name"] }}</h5>
                            <p class="card-text">{{ item["description"] }}</p>
                            <a href="{{ url_for('remove_basket', product=item) }}" class="btn btn-primary">Remove</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <h4>Total:</h4>
            <h4>{{ total }}€</h4>
        </div>
    {% else %}
        <h4>Your basket is empty.</h4>
    {% endif %}
{% endblock %}