{% extends "layout.html" %}
{% block style %}
    table{
        text-align: left;
    }
    .total{
        font-weight:bold;
    }
{% endblock %}
{% block title %}
    your products
{% endblock %}

{% block main %}    

    {% if message %}
    <h5>{{ message }}</h5>
    {% endif %}

    <div class="row">
    {% for store in stores %}
        <div class="col-md-4 py-3">
            <a href="{{ url_for('shop', id=store.id) }}">
                <div class="card">
                    <img src=""  alt="store picture" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ store.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
    
{% endblock %}