{% extends "base_layout.html" %}
{% block style %}
    table{
        text-align: left;
    }
    .total{
        font-weight:bold;
    }
{% endblock %}

{% block title %}
    your products
{% endblock %}

{% block tabs %}
    {% if session.user_id %}
    <ul class="navbar-nav mr-auto mt-2">
        
        {% if session.type == "customer" %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('basket')}}">Basket</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('order')}}">Orders</a></li>
        
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('store')}}">Stores</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('product')}}">Products</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('order')}}">Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('history')}}">History</a></li>
        {% endif %}

    </ul>
    <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('account') }}">Account</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
    </ul>
    {% else %}
    <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('basket')}}">Basket</a></li>
    </ul>
    {% endif %}
{% endblock %}

{% block main %}    

    {% if message %}
    <h5>{{ message }}</h5>
    {% endif %}

    <div class="row">
    {% for store in stores %}
        <div class="col-md-4 py-3">
            <a href="{{ url_for('shop', id=store.id) }}">
                <div class="card">
                    <img src=""  alt="store picture" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ store.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
    
{% endblock %}