{% extends "signin_layout.html" %}
{% from "macros.html" import form_action_method %}

{% block title %}
    Log In
{% endblock %}

{% block form %}
    <h6>
        <p>Your username is your email name (everything on the left of @) that you provide us on register.</p>
        <p>You can change it anytime, just go to your Account.</p>
    </h6>
    {{ form_action_method(url_for('login'), "POST") }}
{% endblock %}

    {{ form.csrf_token }}

{% block fields %}
    {% for field in form %}
        <div class="form-group">
            {{ field(class_="form-control", autofocus=true) }}
            
            {% if field.errors %}
            {% for error in field.errors %}
                <small class="form-text text-muted">
                {{ error }}
                </small>
            {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block failed %}
    {% if message %}
    <ul class="errors">
        <li>{{ message }}</li>
    </ul>
    {% endif %}
{% endblock %}

{% block submit %} Log In {% endblock %}