{% extends "index.html" %}

{% block title %}
    add product
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add a new product</h1>
        </div>
        <div class="card-body">
            <h2>Choose a product among those of the list :</h2>
            <form action="/new_product" method="post" enctype="multipart/form-data">
        {% if not hasProduct %}
            <div class="alert alert-warning" role="alert">
                The list is empty, but you can create your own product below
            </div>
        {% else %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Choice</th>
                  </tr>
                </thead>
                <tbody>
                {%for product in products%}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>  
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="{{ product.id }}" name="productChoice">
                            </div>
                        </td>
                    </tr>
                {%endfor%} 
                </tbody>
            </table>
            <button class="btn btn-secondary col-md-12" type="submit" name="submit" value="add_existing_product">Add this product</button>

        {% endif %}
        </div> 
        <div class="card-footer">
            <h2>if you don't find the product, you can also create a new one :</h2>
            <button class="btn btn-secondary col-md-12" type="submit" name="submit" value="create_new_product">Create a new product</button>
            </form>
        </div>
    </div> 
{% endblock %}