{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title"> Order #{{ order.id }}</h1>
        </div>
        
        <!-- <input type="hidden" id="order_id" name="order_id" value="{{ order.id }}"> -->
        <div class="card-body">
            <form action="{{ url_for('order_details', order_id=order.id) }}" method="post" class="form-inline" enctype="multipart/form-data">
                <!-- <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status">
                      <option value=1>Open</option>
                      <option value=2>In preparation</option>
                    </select>
                  </div>
               
                    <input type="text" class="form-control" id="status" name="status" value = "{{ order.status }}">
                <button class="btn btn-primary ml-2" type="submit" name="submit" value="submit">Edit status</button> -->
               
                <div class="form-group mx-sm-3 mb-2">
                    <label for="status" class="mr-2" >Status :</label>
                    <select class="form-control" id="status">
                    {%for status in status_list%}
                        {% if status.id == order.status_id %}
                            <option value={{ status.id }} selected>{{ status.name }}</option>
                        {% else %}
                            <option value={{ status.id }}>{{ status.name }}</option>
                        {%endif%} 
                    {%endfor%} 
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Edit status</button>




            </form>

            <div>Customer : {{ order.customer }}</div>
            <div>Store : {{ order.store }}</div>
            <div>Total amount : {{ order.amount }}€</div>
            <div>Date : {{ order.date }}</div>
        </div> 
    </div> 
{% endblock %}