{% extends "index.html" %}
{% from "macros.html" import form_action_method %}

{% block title %}
    product
{% endblock %}

{% block main %}
    <h1>Product page</h1>
    
    {% if not hasproduct %}
    <div class="alert alert-warning" role="alert">
        You don't have any product
    </div>
    {% endif %}
   
    <div class="row">
    {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
            <div class="card">
                <div class="item">
                    {% if product.isOwner %}
                        <span class="badge badge-warning notify-badge">owner</span>
                    {% endif %}
                    <img src="{{url_for('static', filename= product.main_img )}}"  alt="product picture" class="card-img-top"/>
                </div>
                <div class="card-body">
                    <div class="product_card_name"><h5>{{ product.name }}</h5></div>
                    <div class="product_card_description">{{ product.description }}</div>
                    <a href="{{ url_for('single_product', product_id=product.id)}}" class="btn btn-primary mt-1">Edit</a>
                    
                </div>
            </div>
        </div>
    {% endfor %} 

    <div class="col-12 mt-3">
        {{ form_action_method(url_for('new_product'), "POST") }}
        {{ form.csrf_token }}
            {{ form.add_button(class_="btn btn-secondary col-12") }}
            <!--value="add"-->
        </form>
    </div>
    
{% endblock %}
