{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>Product page (TO DO)</h1>
    <p>sellers must be able to managed their products</p>
    <a class="nav-link" href="{{ url_for('single_product', product_id=1)}}">link to the single product page : product 1</a>
    <a class="nav-link" href="{{ url_for('single_product', product_id=2)}}">link to the single product page : product 2</a>
    <a class="nav-link" href="{{ url_for('single_product', product_id=3)}}">link to the single product page : product 3</a>

    <form action="/product" method="post" enctype="multipart/form-data">
        <button class="btn btn-primary" type="submit" name="submit" value="add">lAdd a new product</button>
    </form>
{% endblock %}
