<!DOCTYPE html>
<html>
    <head>
        <title>local: register</title>
    </head>
    <body>
        <form action="{{ url_for('register') }}" method="POST">
            <label>Email:</label>
            <input type="email" name="email" placeholder="email">
            <label>Password:</label>
            <input type="password" name="password" placeholder="password">
            <label>Confirm Password:</label>
            <input type="password" name="password2" placeholder="confirm password">
            <input type="submit" value="Register">
        </form>
    </body>
</html>