{% extends "signin_layout.html" %}
{% from "macros.html" import form_action_method %}

{% block title %}
    register
{% endblock %}

{% block form %}
    {{ form_action_method(url_for('register'), "POST") }}
{% endblock %}
    {{ form.csrf_token }}

{% block fields %}
    {% for field in form %}
        <div class="form-group">
            {{ field(class_="form-control", autofocus=true) }}
            
            {% if field.errors %}
            {% for error in field.errors %}
                <small class="form-text text-muted">
                {{ error }}
                </small>
            {% endfor %}
            {% endif %}  

        </div>
    {% endfor %}
{% endblock %}

{% block failed %}
    {% if message %}
    <ul class="errors">
        <li>{{ message }}</li>
    </ul>
    {% endif %}
{% endblock %}

{% block submit %} Register {% endblock %}