{% extends "index.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block main %}    
    <div class="jumbotron jumbotron-fluid">
        <div  class="container row">
            <div class="col-10">
                <h1 class="display-4">{{ store.name }}</h1>
                <p>{{ store.number }} {{ store.street }} </p>
                <p>{{ store.zip_code }} {{ store.city }} {{ store.country }}</p>
            </div>
            <div class="col-2">
                <img src="{{ url_for('static', filename= store.front_pic) }}" alt="store picture" class="card-img-top"/>
            </div>
        </div>
      </div>
    
    <div class="row">
    {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
            <div class="card">
                <div class="item">
                    <span class="badge badge-warning notify-badge">{{ product.price }}€</span>
                    <img src="{{ url_for('static', filename= product.main_img) }}"  alt="product picture" class="card-img-top"/>
                </div>
                <div class="card-body">
                    <div class="product_card_name"><h5>{{ product.name }}</h5></div>
                    <div class="product_card_description">{{ product.description }}</div>
                    <form action="{{ url_for('add_basket')}}" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                        <input type="hidden" id="store_id" name="store_id" value="{{ store.id }}">
                        <button class="btn btn-primary test" type="submit" name="submit" value="add">Add <i class="fas fa-cart-plus"></i></button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    
{% endblock %}