{% extends "base_layout.html" %}

{% block main %}
    {% block form %} {% endblock %}
        {% block fields %} {% endblock %}
        <div class="form-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="type_options" value="customer" checked> Customer
                </label> 
                <span class="px-3">or </span>
                <label class="btn btn-secondary">
                    <input type="radio" name="type_options" value="business" autocomplete="off"> Business
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">{% block submit %}{% endblock %}</button>
    </form>
    {% block failed %}
    {% endblock %}
{% endblock %}